@tailwind base;
@tailwind components;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

.theme-default {
  --color-text-primary: rgb(0, 0, 0);
  --color-background-primary: rgb(255, 255, 255);
  --color-background-hover: rgb(254 252 232);
  --color-background-secondary: rgb(226 232 240);
  --color-brand-primary: rgb(241, 135, 1);
  --color-input-text-primary: rgb(17 24 39);
}

.theme-dracula {
  --color-text-primary: rgb(255, 255, 255);
  --color-background-primary: rgb(17 24 39);
  --color-background-hover: rgb(30 41 59);
  --color-background-secondary: rgb(30 41 59);
  --color-brand-primary: rgb(241, 135, 1);
  --color-input-text-primary: rgb(17 24 39);
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.8s ease-in-out;
}

@tailwind utilities;
