@tailwind base;
@tailwind components;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

.theme-default {
  --color-text-primary: rgb(0, 0, 0);
  --color-background-primary: rgb(255, 255, 255);
  --color-background-hover: rgb(254 252 232);
  --color-background-secondary: rgb(226 232 240);
  --color-brand-primary: rgb(241, 135, 1);
  --color-input-text-primary: rgb(17 24 39);
}

.theme-dracula {
  --color-text-primary: rgb(255, 255, 255);
  --color-background-primary: rgb(17 24 39);
  --color-background-hover: rgb(30 41 59);
  --color-background-secondary: rgb(30 41 59);
  --color-brand-primary: rgb(241, 135, 1);
  --color-input-text-primary: rgb(17 24 39);
}

.checker_page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left_checker_page {
  flex: 1;
  margin-left: 50px;
  margin-right: 10px;
}

.right_checker_page {
  flex: 1;
  margin-left: 50px;
  margin-right: 100px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.suggestion {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 4px;
}


@tailwind utilities;
